.Login{
    background-color: rgb(57, 55, 55);
    margin-left: 60px;
    
    height: 50px;
    width: 160px;
    position: absolute;
    display: inline;

}
header{
    background-color:rgb(211, 199, 199);
    height: 50px;     
}
.menu{
    height: 50px;
    margin-left:900px;
}
.menu p{
    display: inline-block;
    padding-right: 20px;
    padding-top: 5px;
}
.Image{
    background-color: rgb(211, 199, 199);
    height:200px;
    margin-left: 60px;
    margin-top: 10px;
    width:600px ;
    display: inline;
    position: absolute;
    
}
.side{
    background-color: rgb(211, 199, 199);
    height: 800px;
    width: 400px;
    margin-left: 800px;
    margin-top: 10px;
    display: inline-block;
}
.Img2{
    margin:20px;
    background-color: rgb(221, 217, 217);
    height: 150px;
    border: 1px solid;
    display: block;
}
.Bottom{
    background-color:rgb(221, 217, 217);
    margin-left: 50px;
    
    height: 500px;
    width: 720px;
    margin-top: 300px;
    display: inline;
    position: absolute;

}
 .DateYear{
     margin-left: 10px;
     margin-top: 20px;
     margin-bottom: 10px;
     height: 50px;
     width: 700px;
     background-color: rgb(211, 199, 199);   
     
 }
 .Date{
     background-color: rgb(57, 55, 55);
     height: 50px;
     width: 200px;
     text-align: center;
     color: white;
     display: inline;
     position: absolute;
 }
 .Event{
     margin-left: 300px ;
     height: 50px;
 }
 #a{
     margin-top: 230px;
     display: inline;
     position: absolute;
     margin-left: 130px;
     
 }
 .Quote{
     margin-top: 20px;
     background-color: rgb(211, 199, 199);
     height: 100px;
     width: 700px;
     margin-left: 10px;
     

 }
